.About{
    background-color: #bdc3c7;
    display: flex;
    margin: 10px auto;
    width: 80%;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 20px 20px 24px 0 rgba(5,0,5,1);
}

.div-foto{
    display: inline;
}

.foto-perfil{
    width: 80%;
    border-radius: 3px;
}

.descripcion{
    justify-content: center;
}

.skills{
    display: flex;
    flex-wrap: wrap;
}

.skill{
  background-color: #020024;
  color: #ffff;
  margin: 0.3rem;
  padding: 0.8rem;
  border-radius: 6px;
}